body {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  max-width: 1420px;
  background: #FFFFFF;
  margin: auto;
}

.header-section {
  background: url("../Assets/Hero-bg.png") no-repeat center/cover;
  max-width: 1440px;
  height: 700px;
  margin: auto;
}

.navbar {
  max-width: 1160px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e4e5e5a1;
  border-radius: 5px;
}

.logo {
  font-size: 25px;
  font-weight: 800;
  color: #4e47ff;
  margin: 0;
}

.btn {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background: #4e47ff;
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background: #278f5b;
}
.logo:hover {
  color: #278f5b;
  cursor: pointer;
  transition: 0.3s ease;
}

.banner-text {
  margin-top: 190px;
  text-align: center;
  font-size: 25px;
}

.action-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 140px;
    height: 340px;
    padding-top: 20px;
}

.action-left h3{
    font-size: 40px;
}

.action-left p{
    font-size: 24px;
    color: #797979;
}

.action-right{
    height: 330px;
    width: 400px;
    font-size: 25px;
}

.action-right img{
    border-radius: 48px;
}