body{
    margin: 0;
    margin-top: 0;
}

.header-section{
    background: #746c6c;
    width: 1440px;
    height: 700px;
    margin: auto;
    background-image: url('../ui/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    

}